#gamefinished-container {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gamefinished-container h2,
#gamefinished-container p {
  margin-bottom: 1rem;
}

#gamefinished-container p {
  color: #8345de;
}

#gamefinished-container img {
  margin: 2rem;
  height: 280px;
}
