.option {
  background-color: #3c0e70;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  margin: 0.5rem 0;
}

.selected {
  opacity: 1;
}

.not-selected {
  opacity: 0.4;
}

.correct {
  background-color: #3fd03a;
  font-weight: bold;
}

.wrong {
  background-color: #d03a3a;
  font-weight: bold;
}
